rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }

    match /users/{uid} {
      allow read, write: if isOwner(uid);

      match /notificationDestinations/{destinationId} {
        allow read, write: if isOwner(uid);
      }

      match /notificationRules/{ruleId} {
        allow read, write: if isOwner(uid);
      }

      match /guild/{documentId} {
        allow read, write: if isOwner(uid);
      }
    }

    match /guildShares/{guildId} {
      allow read: if true;
      allow create, update: if isSignedIn();
      allow delete: if false;
    }
  }
}